{% extends "base.html"  %}

{% load custom_tags %}

{% block title %}Sistema Dragon - Principal{% endblock %}

{% block content %}
<div id="banner">asdas</div>
    <main>
        <div id="conteudo">
          
                    
        {% for medicao in ultimas_medicoes %}
                    <div class="blocoImpressora">
                        <div class="text_count_imp">{{ medicao|calcula_contador_atual }}/{{ medicao.impressora.cont_max_impressoes }}</div>
                        <div class="segCircle">

                            <div class="cp" id="a{{forloop.counter}}"></div>
                                <script type="text/javascript">chamarGrafico(90, "#a{{forloop.counter}}");</script>      
                                                    
                        </div>
                        <p>{{ medicao.impressora.nome }}</p>
                    </div>

        {% empty %}

        <p> Para exibição do nível de consumo das impressoras, é necessário que seja feita pelo menos uma medição para a comparação dos números. Não há medições disponíveis. Contate o administrador.</p>
        {% endfor %}
        </div>
    </main>
{% endblock %}
