{% extends "base.html"  %}

{% block title %}Sistema Dragon - Principal{% endblock %}

{% block content %}
     <div id="banner">asdas</div>
     <main>
        <div id="conteudo">
          
                    
        {% for impressora in impressoras %}

                    <div class="blocoImpressora">
                        <div class="text_count_imp">100/5000</div>
                        <div class="segCircle">

                            <div class="cp" id="a{{forloop.counter}}"></div>
                                <script type="text/javascript">chamarGrafico(90, "#a{{forloop.counter}}");</script>      
                                                    
                        </div>
                        <p>{{ impressora.nome }}</p>
                    </div>

   
                                
                    
            {% endfor %}
                </div>
        </main>
{% endblock %}
